<div class="wrapper">
    <div class="page-header page-header-small">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/soccer-bg2.jpg');">
        </div>
        <div class="container">
            <div class="content-center">
                <h1 class="title">This is our great company.</h1>
            </div>
        </div>
    </div>
    <div class="section section-contact-us text-center">
        <div class="container">
            <h2 class="title">¿Tienes alguna duda?</h2>
            <p class="description">Déjanos un mensaje y te contestaremos lo más pronto posible</p>
            <div class="row justify-content-center">
              <div class="col-md-1 align-text">
                <h6>Nombre: </h6>
              </div>
              <div class="col-md-8">
                <div class="form-group">
                  <input type="text" value="" placeholder="Nombre" class="form-control"/>
                </div>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-md-1 align-text">
                <h6>Correo: </h6>
              </div>
              <div class="col-md-8">
                <div class="form-group">
                  <input type="text" value="" placeholder="Correo" class="form-control"/>
                </div>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-md-1 align-text">
                <h6>Mensaje: </h6>
              </div>
              <div class="col-md-8">
                <div class="form-group">
                  <textarea class="form-control area-borders" rows="4" cols="80" placeholder="Escribe el mensaje..."></textarea>
                </div>
              </div>
            </div>
            <button type="button" class="btn btn-primary btn-enviar">Enviar</button>
        </div>
    </div>
</div>

