#contenido {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}

.edit-card {
    width: fit-content;
    max-width: 75%;
}

.btn-container {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 1000px) {
    .edit-card {
        width: 100%;
        max-width: 100%;
    }
}