<div id="contenido">
    <div class="card edit-card">
        <div class="card-header">
          Editar Cancha
        </div>
        <div class="card-body">
            <form class="container-fluid" [formGroup]="form">
                <div class="row">
                    <div class="col-md-2 col-12">
                        <p>Nombre</p>
                    </div>
                    <div class="col-md-10 col-12">
                        <div class="form-group">
                          <input type="text" value="" placeholder="Nombre" class="form-control" formControlName="nombre"/>
                        </div>
                    </div>
                    <div class="col-md-2 col-12">
                        <p>Zona</p>
                    </div>
                    <div class="col-md-10 col-12">
                        <div class="form-group">
                          <input type="text" value="" placeholder="Zona" class="form-control" formControlName="zona"/>
                        </div>
                    </div>
                    <div class="col-md-2 col-12">
                        <p>Dirección</p>
                    </div>
                    <div class="col-md-10 col-12">
                        <div class="form-group">
                          <input type="text" value="" placeholder="Dirección" class="form-control" formControlName="direccion"/>
                        </div>
                    </div>
                    <div class="col-md-2 col-12">
                        <p>Descripción</p>
                    </div>
                    <div class="col-md-10 col-12">
                        <div class="form-group">
                            <textarea class="form-control area-borders" rows="4" cols="80" placeholder="Escribe el mensaje..." formControlName="descripcion"></textarea>
                          </div>
                    </div>
                    <div class="col-md-2 col-12">
                        <p>Imagen</p>
                    </div>
                    <div class="col-md-10 col-12">
                        <div class="form-group">
                          <input type="text" value="" placeholder="Imagen" class="form-control" formControlName="img"/>
                        </div>
                    </div>
                    <div class="col-md-2 col-12">
                        <p>Likes</p>
                    </div>
                    <div class="col-md-4 col-12">
                        <div class="form-group">
                          <input type="text" value="" placeholder="Likes" class="form-control" formControlName="likes"/>
                        </div>
                    </div>
                    <div class="col-md-2 col-12">
                        <p>Precio</p>
                    </div>
                    <div class="col-md-4 col-12">
                        <div class="form-group">
                          <input type="text" value="" placeholder="Precio" class="form-control" formControlName="precio"/>
                        </div>
                    </div>
                    <div class="col-12">
                        <p>Coordenadas</p>
                    </div>
                    <div class="col-md-6 col-12">
                        <div class="form-group">
                          <input type="text" value="" placeholder="X" class="form-control" formControlName="coordenadaX"/>
                        </div>
                    </div>
                    <div class="col-md-6 col-12">
                        <div class="form-group">
                          <input type="text" value="" placeholder="Y" class="form-control" formControlName="coordenadaY"/>
                        </div>
                    </div>
                </div>
            </form>
            <div class="btn-container">
                <button type="button" class="btn btn-primary" (click)="setCancha()">Guardar</button>
                <button type="button" class="btn btn-danger" (click)="cancelar()">Cancelar</button>
            </div>
        </div>
    </div>
</div>
