<div class="wrapper">
    <div class="page-header page-header-small">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/soccer-bg2.jpg');">
        </div>
        <div class="container">
            <div class="content-center">
                <h1 class="title">This is our great company.</h1>
            </div>
        </div>
    </div>

    <div class="row row-cols-1 row-cols-md-3 g-4 mx-2 my-2">
        <div class="input-group">
          <input type="search" class="form-control rounded" placeholder="Texto ..." aria-label="Search"
            aria-describedby="search-addon" />
          <button type="button" class="btn btn-primary btn-enviar">Buscar</button>
        </div>
    </div>
  
    <div id="rss-container" class="row row-cols-1 row-cols-md-3 g-4 mx-2 my-2">
  
        <!-- Plantilla (Inicio) -->
        <div class="col">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text">
                <a href="#" target="_blank">Link</a>
              </p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>
        </div>
        <!-- Plantilla (Fin) -->
  
    </div>

</div>

