<div class="wrapper">
    <div class="page-header page-header-small">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/soccer-bg2.jpg');">
        </div>
        <div class="container">
            <div class="content-center">
                <img class="n-logo" src="assets/img/now-logo.png" alt=""> 
                <h1 class="title">Futfinder</h1>
            </div>
        </div>
    </div>
    <div class="row justify-content-center search-container">
        <div class="col-md-1 col-2 btn-container">
            <button type="button" class="btn" id="search-button"><i class="bi bi-search fa-2x"></i></button>
        </div>
        <div class="col-md-11 col-10">
            <input id="search-bar" type="text" placeholder="Buscar">
        </div>
    </div>
    <!--link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous"-->

    <div id="rss-container" class="row row-cols-1 row-cols-md-3 g-4 mx-2 my-2">
  
    </div>

</div>

